@tailwind base;
@tailwind components;
@tailwind utilities;

.login-input input{
    border: 2px solid rgba(140, 138, 138, 0.373);
    border-radius: 5px;
    width: 80%;
    margin: auto;
    display: block;
    padding: 0.5rem;
    margin-bottom: 0.8rem;
    
}

.login-btn{
    display: block;
    margin: auto;
    width: 80%;
    background-color: #546e7a;
    border-radius: 5px;
    padding: 0.5rem;
}

.navitem li{
    display: inline;
    padding:10px;
    
}

/*All problems page CSS */
.Easy {
    color: rgb(40, 202, 40);
    font-weight: 900;
}
.Medium {
    color: rgb(250, 189, 77);
    font-weight: 900;
}
.Hard {
    color: rgb(240, 48, 48);
    font-weight: 900;
}
.allProblems{
    background: black;
    height: 100vh;
    padding: 1rem 2rem;
}
table {
    margin-top: 2rem;
    width: 95%;
    border-collapse: collapse;

}


tr {
    color: rgb(43, 43, 152);
    border-bottom: 2px solid grey;
}

th {
    /* border: 2px solid grey; */
    text-align: start;
    padding: 0.5rem 0 0.5rem 0.3rem;
    color: white;
    font-family: 'Rokewell', monospace;
}

td {
    font-family: 'Rokewell', monospace;
    padding: 1rem;
}
.color1{
    background-color: rgb(47, 49, 50);
}




